

    <div class="container">
        <div class="row row-content" ng-controller="MenuController">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-xs pull-right" ng-click="toggleDetails()">{{showDetails? "Hide Details":'Show Details'}}</button>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}">
                        <a ng-click="select(1)" aria-control="allmenu" role="tab">The Full Menu</a>
                    </li>
                     <li role="presentation" ng-class="{active:isSelected(2)}">
                        <a ng-click="select(2)" aria-control="appetizer" role="tab">Appetizer</a>
                    </li>
                     <li role="presentation" ng-class="{active:isSelected(3)}">
                        <a ng-click="select(3)" aria-control="mains" role="tab">Mains</a>
                    </li>
                      <li role="presentation" ng-class="{active:isSelected(4)}">
                        <a ng-click="select(4)" aria-control="disert" role="tab">Disert</a>
                    </li>
                </ul>
                <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in dishes | filter:filtText">
                    <div class="media-left media-middle">
                        <a href="#/menu/{{dish._id}}">
                            <img ng-src="{{dish.image}}" class="media-object img-thumbnail" alt="{{dish.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name | uppercase}}
                        <span class="label label-danger label-xs">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p ng-show="showDetails">{{dish.description}}</p>
                        <!--p>Comment:{{dish.comment}}</p>
                        <p>Please type your comment</p>
                        <input type="text" name="comment" ng-model="dish.comment"-->
                    </div>
                </li>
                </ul>
                </div>
            </div>
        </div>
    </div>